In [93]:
# import libraries
import pandas as pd
import numpy as np
import sklearn as sns

In [70]:
# load data

"""
Attribute Values:

   buying       v-high, high, med, low
   maint        v-high, high, med, low
   doors        2, 3, 4, 5-more
   persons      2, 4, more
   lug_boot     small, med, big
   safety       low, med, high
   class:
"""

df=pd.read_csv("car_evaluation.csv",names=['buying','maint','doors','persons','lug_boot','safety','class'])

In [71]:
# show top 5 rows of the dataset
df.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [72]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [73]:
# shape of all features
x.shape

(1728, 6)

In [74]:
# show features
x.head()

  buying  maint doors persons lug_boot safety
0  vhigh  vhigh     2       2    small    low
1  vhigh  vhigh     2       2    small    med
2  vhigh  vhigh     2       2    small   high
3  vhigh  vhigh     2       2      med    low
4  vhigh  vhigh     2       2      med    med

In [75]:
x.tail()

     buying maint  doors persons lug_boot safety
1723    low   low  5more    more      med    med
1724    low   low  5more    more      med   high
1725    low   low  5more    more      big    low
1726    low   low  5more    more      big    med
1727    low   low  5more    more      big   high

In [76]:
# shape of all target label
y.shape

(1728,)

In [77]:
# show target
y.head()

0    unacc
1    unacc
2    unacc
3    unacc
4    unacc
Name: class, dtype: object

# preprocessing

In [78]:
class MultiColumnLabelEncoder:
    def __init__(self,columns = None):
        self.columns = columns # array of column names to encode

    def fit(self,X,y=None):
        return self # not relevant here

    def transform(self,X):
        '''
        Transforms columns of X specified in self.columns using
        LabelEncoder(). If no columns specified, transforms all
        columns in X.
        '''
        output = X.copy()
        if self.columns is not None:
            for col in self.columns:
                output[col] = LabelEncoder().fit_transform(output[col])
        else:
            for colname,col in output.iteritems():
                output[colname] = LabelEncoder().fit_transform(col)
        return output

    def fit_transform(self,X,y=None):
        return self.fit(X,y).transform(X)

In [79]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
scale=LabelEncoder()
x=MultiColumnLabelEncoder(columns = x.columns).fit_transform(x)
y=scale.fit_transform(y)

In [81]:
x

      buying  maint  doors  persons  lug_boot  safety
0          3      3      0        0         2       1
1          3      3      0        0         2       2
2          3      3      0        0         2       0
3          3      3      0        0         1       1
4          3      3      0        0         1       2
...      ...    ...    ...      ...       ...     ...
1723       1      1      3        2         1       2
1724       1      1      3        2         1       0
1725       1      1      3        2         0       1
1726       1      1      3        2         0       2
1727       1      1      3        2         0       0

[1728 rows x 6 columns]

In [85]:
x.tail()

      buying  maint  doors  persons  lug_boot  safety
1723       1      1      3        2         1       2
1724       1      1      3        2         1       0
1725       1      1      3        2         0       1
1726       1      1      3        2         0       2
1727       1      1      3        2         0       0

In [83]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   int32
 1   maint     1728 non-null   int32
 2   doors     1728 non-null   int32
 3   persons   1728 non-null   int32
 4   lug_boot  1728 non-null   int32
 5   safety    1728 non-null   int32
dtypes: int32(6)
memory usage: 40.6 KB

# K Fold Validation

In [87]:
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
kf = KFold(n_splits=10)
X_train, X_test,y_train, y_test = train_test_split(x,y,test_size=0.2)

In [88]:
X_train.shape

(1382, 6)

In [89]:
X_test.shape

(346, 6)

# cross validation

In [90]:
from sklearn.model_selection import cross_val_score
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
score=cross_val_score(model,X_train,y_train,scoring="neg_mean_absolute_error")

# Mean Absolute Error

In [91]:
print("Mean absolute Error {}".format(np.mean(abs(score))))

Mean absolute Error 0.6996834615183383

# Root Mean squre Error

In [92]:
print("Root Mean Squre Error {}".format(np.sqrt(np.mean(abs(score)))))

Root Mean Squre Error 0.8364708372192889