In [3]:
# import libraries
import pandas as pd
import numpy as np
import sklearn as sns

In [9]:
# load data

"""
7. Attribute Information:
   1. Class: no-recurrence-events, recurrence-events
   2. age: 10-19, 20-29, 30-39, 40-49, 50-59, 60-69, 70-79, 80-89, 90-99.
   3. menopause: lt40, ge40, premeno.
   4. tumor-size: 0-4, 5-9, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39, 40-44,
                  45-49, 50-54, 55-59.
   5. inv-nodes: 0-2, 3-5, 6-8, 9-11, 12-14, 15-17, 18-20, 21-23, 24-26,
                 27-29, 30-32, 33-35, 36-39.
   6. node-caps: yes, no.
   7. deg-malig: 1, 2, 3.
   8. breast: left, right.
   9. breast-quad: left-up, left-low, right-up,	right-low, central.
  10. irradiat:	yes, no.
"""

df=pd.read_csv("breast-cancer.data",names=['Class','age','menopause','tumor-size','inv-nodes','node-caps','deg-malig','breast','breast-quad','irradiat'])

In [10]:
# show top 5 rows of the dataset
df.head()

,Class,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat
0,no-recurrence-events,30-39,premeno,30-34,0-2,no,3,left,left_low,no
1,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,right,right_up,no
2,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,left,left_low,no
3,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,right,left_up,no
4,no-recurrence-events,40-49,premeno,0-4,0-2,no,2,right,right_low,no

In [15]:
df.shape

(286, 10)

In [14]:
df.to_csv("dataset33.csv",index=False)

In [19]:
x=df.iloc[:,1:]
y=df.iloc[:,0]

In [20]:
# shape of all features
x.shape

(286, 9)

In [21]:
# show features
x.head()

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat
0,30-39,premeno,30-34,0-2,no,3,left,left_low,no
1,40-49,premeno,20-24,0-2,no,2,right,right_up,no
2,40-49,premeno,20-24,0-2,no,2,left,left_low,no
3,60-69,ge40,15-19,0-2,no,2,right,left_up,no
4,40-49,premeno,0-4,0-2,no,2,right,right_low,no

In [22]:
# shape of all target label
y.shape

(286,)

In [23]:
# show target
y.head()

0    no-recurrence-events
1    no-recurrence-events
2    no-recurrence-events
3    no-recurrence-events
4    no-recurrence-events
Name: Class, dtype: object

# preprocessing

In [24]:
class MultiColumnLabelEncoder:
    def __init__(self,columns = None):
        self.columns = columns # array of column names to encode

    def fit(self,X,y=None):
        return self # not relevant here

    def transform(self,X):
        '''
        Transforms columns of X specified in self.columns using
        LabelEncoder(). If no columns specified, transforms all
        columns in X.
        '''
        output = X.copy()
        if self.columns is not None:
            for col in self.columns:
                output[col] = LabelEncoder().fit_transform(output[col])
        else:
            for colname,col in output.iteritems():
                output[colname] = LabelEncoder().fit_transform(col)
        return output

    def fit_transform(self,X,y=None):
        return self.fit(X,y).transform(X)

In [25]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
scale=LabelEncoder()
x=MultiColumnLabelEncoder(columns = x.columns).fit_transform(x)
y=scale.fit_transform(y)

In [26]:
x

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat
0,1,2,5,0,1,2,0,2,0
1,2,2,3,0,1,1,1,5,0
2,2,2,3,0,1,1,0,2,0
3,4,0,2,0,1,1,1,3,0
4,2,2,0,0,1,1,1,4,0
...,...,...,...,...,...,...,...,...,...
281,1,2,5,0,1,1,0,3,0
282,1,2,3,0,1,2,0,3,1
283,4,0,3,0,1,0,1,3,0
284,2,0,5,4,1,2,0,2,0
285,3,0,5,4,1,2,0,2,0

# K Fold Validation

In [27]:
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
kf = KFold(n_splits=10)
X_train, X_test,y_train, y_test = train_test_split(x,y,test_size=0.2)

In [28]:
X_train.shape

(228, 9)

In [29]:
X_test.shape

(58, 9)

# cross validation

In [30]:
from sklearn.model_selection import cross_val_score
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
score=cross_val_score(model,X_train,y_train,scoring="neg_mean_absolute_error")

# Mean Absolute Error

In [31]:
print("Mean absolute Error {}".format(np.mean(abs(score))))

Mean absolute Error 0.2718840579710145

# Root Mean squre Error

In [32]:
print("Root Mean Squre Error {}".format(np.sqrt(np.mean(abs(score)))))

Root Mean Squre Error 0.5214250262223846